<h3>Organization:</h3>
<p><strong>Organization Name:</strong>	<%= @beneficiary.name %></p>
<p><strong>Description:</strong></p>
<p><%= @beneficiary.description %></p>

<h3>Contact Info:</h3>
<p><strong>Contact Name:</strong> <%= @beneficiary.contact_name %></p>
<p><strong>Contact Number:</strong> <%= @beneficiary.contact_number %></p>
<p><strong>Address:</strong> <%= @beneficiary.address %></p>
