
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h1>Your Current Needs</h1>


      <table class="table">
        <tr>
          <th>Item Name</th>
          <th>Item Quantity</th>
          <th>Urgency</th>
          <th>Fulfilled</th>
          <th>Notes</th>
        </tr>
        <% if current_beneficiary %>
        <% current_beneficiary.requested_resources.each do |resource|  %>
          <tr id="<%= resource.id %>">
            <td class="resource-name"><%= resource.name %></td>
            <td class="resource-quantity"><%= resource.quantity %></td>
            <td class="resource-urgency"><%= resource.urgency %></td>
            <td  class="resource-fulfilled"><%= resource.fulfilled ? 'Yes' : 'No' %></td>
            <td  class="resource-notes"><%= resource.notes if resource.notes %></td>
            <td class="resource-edit"><a href="#">Edit</a></td>
            <td class="resource-delete"><%= link_to "Delete", {action: :destroy, controller: :requested_resources, id: resource.id }, method: :delete %></td>

          </tr>

        <% end %>
        <% end %>
        <tr>
          <%= form_for @resource, url: { action: "create" } do |f| %>
            <td><%= f.text_field :name, :placeholder => "Item Name" %></td>
            <td><%= f.number_field :quantity, :placeholder => "Quantity" %></td>
            <td>
              <%= f.select :urgency, [["Low", "Low"], ["Medium", "Medium"],["High","High"]] %>
            </td>
            <td></td>
            <td><%= f.text_field :notes, :placeholder => "Notes" %></td>
            <td></td>
            <td><%= f.submit  :+, :class => "btn" %></td>
          <% end %>

        </tr>
      </table>
    </div>

  </div>
</div>
