<nav id ="topnav" class = "navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id ="navbar-padding-override" class="collapse navbar-collapse">
      <ul id ="nav-items" class="nav navbar-nav">
        <li class="nav_li"><%= link_to "See The Need", root_path %></li>
        <li class="nav_li"><%= link_to 'News Feed', activities_path %></li>
        <li class="nav_li"><%= link_to "About", root_path %></li>
        <% if beneficiary_signed_in? %>
        <li class="nav_li">
          <%= link_to "Requested Resources", new_beneficiary_requested_resource_path(current_beneficiary) %>
        </li>
        <% end %>
      </ul>

        <ul class="nav navbar-nav navbar-right">
          <% unless donor_signed_in? || beneficiary_signed_in? %>
          <li class="dropdown">
            <a href="#" id ="dropdown-nav" class="dropdown-toggle" data-toggle="dropdown"> Sign in <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a  href="/donors/sign_in">As a Donor</a></li>
              <li><a id="organization_modal_trigger" href="/beneficiaries/sign_in">As a Beneficiary</a></li>
            </ul>
          </li>
          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if donor_signed_in? %>
          <li><%= link_to("Signed in as #{current_donor.name}", current_donor) %></li>
          <li><%= link_to('Logout', destroy_donor_session_path) %></li>
          <% elsif beneficiary_signed_in? %>
          <li><%= link_to("Signed in as #{current_beneficiary.name}", current_beneficiary) %></li>
          <li><%= link_to('Logout', destroy_beneficiary_session_path) %></li>
          <% end %>

          <% unless donor_signed_in? || beneficiary_signed_in? %>
          <li class="dropdown">
            <a href="#" id ="dropdown-nav" class="dropdown-toggle" data-toggle="dropdown"> Sign up <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/donors/sign_up">As a Donor</a></li>
              <li><a href="/beneficiaries/sign_up">As a Beneficiary</a></li>
            </ul>
          </li>
          <% end %>
        </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>