<!DOCTYPE html>
<html>
<head>
  <title>Nepal Relief</title>
  <link href='http://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed:700,400|Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

<div class="container">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% unless donor_signed_in? || beneficiary_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Sign in <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a  href="/donors/sign_in">As a Donor</a></li>
              <li><a id="organization_modal_trigger" href="/beneficiaries/sign_in">As a Beneficiary</a></li>
            </ul>
          </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if donor_signed_in? %>
            <li><%= link_to('Profile', root_path) %></li>
            <li><%= link_to('Logout', destroy_donor_session_path) %></li>
        <% elsif beneficiary_signed_in? %>
            <li><%= link_to('Profile', root_path) %></li>
            <li><%= link_to('Logout', destroy_benficiary_session_path) %></li>
        <% end %>

        <% unless donor_signed_in? || beneficiary_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Sign up <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/donors/sign_up">As a Donor</a></li>
              <li><a href="/beneficiaries/sign_up">As a Beneficiary</a></li>
            </ul>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="title_box">
    <center><h2>See the Need</h2>
    <h3>Join forces for Nepal</h3></center>
  </div>
</div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
